.button-container button {
  margin: 15px;
  border: 2px solid #fddfa2;
  border-radius: 5px;
  background-color: #fac354;
  color: #fff;
  padding: 4px 12px;
  font-size: 1.3rem;
  font-weight: 400;
  cursor: pointer;
  width: 120px;
}

.button-container button:hover {
  background-color: #fff;
  color: #f7cc77;
  border: 2px solid #f7cc77;
}
