.timer-container {
  display: flex;
  color: rgb(248, 244, 244);
}

.timer-container p {
  margin: 0;
  font-size: 4rem;
  letter-spacing: 2px;
}

.timer-container span {
  font-size: 3rem;
  position: relative;
  top: 8px;
  letter-spacing: 2px;
}

.timer-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
