body {
  margin: 0;
  /* background-color: #282c34; */
  background: linear-gradient(45deg, #00b4db, #0083b0);
}

.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-heading {
  color: #fff;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}
